body{
    background-color: bisque;
}

p {
    font-size: x-large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    animation-duration: 3s;
    animation-name: slidein;
  }
  
  @keyframes slidein {
    from {
      margin-left: 300%;
      width: 100%;
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  }
 